RewriteEngine On    # Turn on the rewriting engine
# RewriteRule ^products/([0-9]+)/?$ show_a_product.php?product_id=$1 [NC,L] # Handle product requests
RewriteRule ^user/([A-Za-z0-9-]+)/?$ ../profile?name=$1 [NC,L]    # Process parrots